{
  "semi": true,
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "printWidth": 120,
  "singleAttributePerLine": true
}