@font-face {
  font-family: "iconfont"; /* Project id 3925744 */
  src: url('iconfont.woff2?t=1715139267710') format('woff2'),
       url('iconfont.woff?t=1715139267710') format('woff'),
       url('iconfont.ttf?t=1715139267710') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jurassic_log:before {
  content: "\e69e";
}

.icon-denglurizhi:before {
  content: "\e679";
}

.icon-guanlidenglurizhi:before {
  content: "\ea45";
}

.icon-a-denglurizhi2:before {
  content: "\e625";
}

.icon-audit:before {
  content: "\eabe";
}

.icon-huiche:before {
  content: "\e602";
}

.icon-huichetijiao:before {
  content: "\e724";
}

.icon-a-Chatgpt4:before {
  content: "\e619";
}

.icon-ChatGPT:before {
  content: "\e6a5";
}

.icon-chatGPT:before {
  content: "\e6e2";
}

.icon-Chatgpt:before {
  content: "\e801";
}

.icon-chushihua:before {
  content: "\e60a";
}

.icon-ceshi:before {
  content: "\e8ad";
}

.icon-zhiding:before {
  content: "\e684";
}

.icon-zhiding1:before {
  content: "\e891";
}

.icon-mulu:before {
  content: "\e890";
}

.icon-pinglun2:before {
  content: "\e8c5";
}

.icon-gengxin:before {
  content: "\e663";
}

.icon-gengxin1:before {
  content: "\e617";
}

.icon-xitonggengxin1:before {
  content: "\e675";
}

.icon-xitongguanli3:before {
  content: "\e601";
}

.icon-shezhi:before {
  content: "\e62b";
}

.icon-xitongshezhi:before {
  content: "\e730";
}

.icon-xitonggengxin:before {
  content: "\e630";
}

.icon-GIF:before {
  content: "\ec17";
}

.icon-JPG:before {
  content: "\ec18";
}

.icon-PNG:before {
  content: "\ec19";
}

.icon-mp:before {
  content: "\e8b7";
}

.icon-mp1:before {
  content: "\e8b8";
}

.icon-webp:before {
  content: "\e671";
}

.icon-format-txt:before {
  content: "\e82b";
}

.icon-folderopen:before {
  content: "\e6f9";
}

.icon-folder:before {
  content: "\e697";
}

.icon-wangpan:before {
  content: "\e655";
}

.icon-folder-fill:before {
  content: "\e85e";
}

.icon-ziyuanguanli:before {
  content: "\e7df";
}

.icon-folder-open:before {
  content: "\e6f4";
}

.icon-weibiaoti-_huabanfuben:before {
  content: "\e615";
}

.icon-ziyuan:before {
  content: "\e616";
}

.icon-ziyuan-resources:before {
  content: "\e64d";
}

.icon-folder1:before {
  content: "\e67a";
}

.icon-yonghuliebiao:before {
  content: "\e636";
}

.icon-xitongguanli_jiaoseguanli:before {
  content: "\e629";
}

.icon-xitongguanli:before {
  content: "\e649";
}

.icon-list:before {
  content: "\e6a8";
}

.icon-xitongguanli1:before {
  content: "\e637";
}

.icon-xitongguanli2:before {
  content: "\e63c";
}

.icon-yonghuliebiao1:before {
  content: "\e7f1";
}

.icon-weibiaoti--:before {
  content: "\e60e";
}

.icon-tianchongxing-:before {
  content: "\e62d";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62f";
}

.icon-view-fill:before {
  content: "\e848";
}

.icon-pinglun1:before {
  content: "\e60d";
}

.icon-like-fill:before {
  content: "\e869";
}

.icon-unlike-fill:before {
  content: "\e86a";
}

.icon-view:before {
  content: "\e847";
}

.icon-wenzhangguanli:before {
  content: "\e634";
}

.icon-wenzhangfenlei1:before {
  content: "\e633";
}

.icon-wenzhangfenlei2:before {
  content: "\e631";
}

.icon-fenlei:before {
  content: "\e600";
}

.icon-quxiaoquanping_o:before {
  content: "\eb98";
}

.icon-quanping_o:before {
  content: "\eb99";
}

.icon-zitidaxiao:before {
  content: "\e688";
}

.icon-phone:before {
  content: "\e63b";
}

.icon-biaoqian:before {
  content: "\e65b";
}

.icon-git1:before {
  content: "\e708";
}

.icon-pc:before {
  content: "\e603";
}

.icon-fuzhi:before {
  content: "\e656";
}

.icon-pinglun:before {
  content: "\e6ad";
}

.icon-tags:before {
  content: "\e826";
}

.icon-anzhuo:before {
  content: "\e612";
}

.icon-wenzhangliebiaoxiangqing:before {
  content: "\e665";
}

.icon-jiaoseguanli2:before {
  content: "\e648";
}

.icon-pad:before {
  content: "\e657";
}

.icon-windows1:before {
  content: "\e882";
}

.icon-jiaoseguanli3:before {
  content: "\e611";
}

.icon-yonghuguanli1:before {
  content: "\e65c";
}

.icon-tags1:before {
  content: "\e7e5";
}

.icon-fuzhi1:before {
  content: "\ec7a";
}

.icon-dianzan_kuai:before {
  content: "\ec8c";
}

.icon-24gl-tags2:before {
  content: "\e87c";
}

.icon-jiaoseguanli4:before {
  content: "\e787";
}

.icon-fuzhi2:before {
  content: "\e8b0";
}

.icon-fenxiang:before {
  content: "\e8b1";
}

.icon-ios:before {
  content: "\e613";
}

.icon-tags2:before {
  content: "\e8b2";
}

.icon-yijianfuzhi:before {
  content: "\e614";
}

.icon-wenzhangfenlei:before {
  content: "\e6c6";
}

.icon-wenzhangliebiao:before {
  content: "\e653";
}

.icon-jiaoseguanli:before {
  content: "\e62e";
}

.icon-yonghuguanli:before {
  content: "\e662";
}

.icon-jiaoseguanli1:before {
  content: "\e62a";
}

.icon-wenjianjiadakai:before {
  content: "\e63f";
}

.icon-permissions-o:before {
  content: "\e738";
}

.icon-auth:before {
  content: "\e635";
}

.icon-git:before {
  content: "\e79d";
}

.icon-gitee:before {
  content: "\e60c";
}

.icon-GitHub:before {
  content: "\ea0a";
}

.icon-css:before {
  content: "\e61e";
}

.icon-html:before {
  content: "\e632";
}

.icon-steam:before {
  content: "\e610";
}

.icon-windows-copy:before {
  content: "\ed14";
}

.icon-mysql:before {
  content: "\ec6d";
}

.icon-redis:before {
  content: "\e669";
}

.icon-chrome:before {
  content: "\ea09";
}

.icon-sequelize:before {
  content: "\e69d";
}

.icon-babel:before {
  content: "\eb4a";
}

.icon-electron:before {
  content: "\eb86";
}

.icon-windows:before {
  content: "\ed13";
}

.icon-doujiyan-huaji:before {
  content: "\e60b";
}

.icon-huaji:before {
  content: "\e60f";
}

.icon-shounvehuaji:before {
  content: "\e618";
}

.icon-COShuaji:before {
  content: "\e620";
}

.icon-JavaScript:before {
  content: "\e704";
}

.icon-xianqia:before {
  content: "\e628";
}

.icon-Angular:before {
  content: "\e798";
}

.icon-webpack:before {
  content: "\e799";
}

.icon-Vue:before {
  content: "\e79a";
}

.icon-React:before {
  content: "\e79b";
}

.icon-Nodejs:before {
  content: "\e79c";
}

.icon-Nodejs1:before {
  content: "\e7a4";
}

.icon-npm:before {
  content: "\e71a";
}

.icon-nuxt:before {
  content: "\e686";
}

.icon-svelte:before {
  content: "\e698";
}

.icon-typescript:before {
  content: "\e6a3";
}

.icon-yarn:before {
  content: "\ec31";
}

